<%= title_img %>
<div id="content_inside_wrapper" class="round">
	<div id="content_inside">
		<ul id="resume_accordion">
			<li>
				<a id="resume_accordion_sel">
					<%= image_tag("/images/resume/resume_bar_education.png",
						:mouseover => "/images/resume/resume_bar_education_hover.png") %>
					<ul>
						<li>Education</li>
					</ul>
				</a>
			</li>

			<li>
				<a>
					<%= image_tag("/images/resume/resume_bar_skills.png",
						:mouseover => "/images/resume/resume_bar_skills_hover.png") %>
					<ul>
						<li>Skills</li>
					</ul>
				</a>
			</li>

			<li>
				<a>
					<%= image_tag("/images/resume/resume_bar_work.png",
						:mouseover => "/images/resume/resume_bar_work_hover.png") %>
					<ul>
						<li>Work Experience</li>
					</ul>
				</a>
			</li>

			<li>
				<a>
					<%= image_tag("/images/resume/resume_bar_projects.png",
						:mouseover => "/images/resume/resume_bar_projects_hover.png") %>
					<ul>
						<li>Projects</li>
					</ul>
				</a>
			</li>

			<li>
				<a>
					<%= image_tag("/images/resume/resume_bar_awards.png",
						:mouseover => "/images/resume/resume_bar_awards_hover.png") %>
					<ul>
						<li>Awards</li>
					</ul>
				</a>
			</li>
		</ul>
	</div>
</div>
		
<%= image_tag("content/sectionline.png", :alt => "Section Line",
					 		:id => "content_sectionline") %>
<div id="content_sectiontext">
	<%= image_tag("resume/sectiontext.png", :alt => "Section Text",
						 		:class => "icon") %>
	<%= image_tag("content/pdf_logo.png", :alt => "PDF Logo",
						 		:class => "icon") %>
	<%= image_tag("content/word_logo.png", :alt => "WORD Logo",
						 		:class => "icon") %>
	<%= image_tag("content/txt_logo.png", :alt => "TXT Logo",
						 		:class => "icon") %>
</div>
