<!DOCTYPE html>
<html>
	<head>
		<title>YWPARK</title>
  	<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= render 'layouts/javascripts' %>
	</head>
	<body>
		<div id="wrapper">
			<div id="wrapperinside">
				<%= render 'layouts/menu' %>
				<div id="content">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
