<!DOCTYPE html>
<html>
	<head>
		<title>YWPARK</title>
  	<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= render 'layouts/javascripts' %>
		<% if !@javascript_src.to_s.empty? %>
			<%= render @javascript_src %>
		<% end %>
	</head>
	<body>
		<div id="wrapper">
			<div id="wrapperinside">
				<%= render 'layouts/menu' %>
				<div id="content">
					<%= yield %>
					<%= render 'layouts/footer' %>
				</div>
			</div>
		</div>
	</body>
</html>
